@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@tailwind base;

@layer base {
  body {
    @apply bg-black text-gray-200;
    font-size: 18px;
  }

  html {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .main-content {
    @apply overflow-hidden;
    margin-top: -100px;
  }

  .is-16by9 {
    aspect-ratio: 16 / 9;
    width: 100%; /* change this to a fixed width, or create a container with a width. */
    height: 100%;
  }

  .menu-bar {
    @apply py-5 px-5 shadow-xl;
    margin-top: 20px;
    background-image: url('menu.png');
    background-repeat: no-repeat;
    background-position: center;
    .menu {
      @apply flex w-full flex-wrap items-center h-10 z-2;
      .menu-item {
        @apply flex items-center h-10 leading-10 px-8 rounded no-underline hover:no-underline transition-colors duration-100 mx-1 text-white;
        .submenu {
          @apply absolute bg-neutral-800/90 text-white rounded shadow-lg p-4 z-1;
          position: absolute;
          top: 40px;
          left: 0;
          width: 400px;
          a {
            @apply block text-lg my-4 hover:text-amber-300;
          }
        }
      }
    }
    @media (width < 48rem) {
      @apply bg-black p-4 m-0;
      background-image: none;
      .container {
        @apply my-0 py-0;
        margin: 0;
      }
      .menu {
        height: auto;
        display: block;
        margin: 0;
        li {
          @apply w-full text-center;
          display: block;
        }
        .menu-item {
          @apply w-full text-center;
          display: block;
          .submenu {
            width: 100%;
            text-align: center;
            display: block;
          }
        }
      }
    }
  }

  .button {
    @apply text-white me-2 rounded-full inline-block transition-colors duration-200 border-2 border-zinc-300/50 shadow-lg;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
    &.primary {
      @apply bg-linear-to-b from-amber-300 to-amber-500 hover:to-amber-400 text-amber-950;
    }
    &.warning {
      @apply bg-linear-to-b from-orange-400 to-orange-600 hover:to-orange-500 text-white;
    }
    &.danger {
      @apply bg-linear-to-b from-red-500 to-red-700 hover:to-red-600 text-white;
    }
    &.youtube {
      @apply bg-linear-to-b from-red-500 to-red-700 hover:to-red-600 text-white;
    }
    &.facebook {
      @apply bg-linear-to-b from-blue-500 to-blue-700 hover:to-blue-600 text-white;
    }
    &.discord {
      @apply bg-linear-to-b from-violet-500 to-violet-700 hover:to-violet-600 text-white;
    }
    &.twitter {
      @apply bg-linear-to-b from-sky-500 to-sky-700 hover:to-sky-600 text-white;
    }
    &.small {
      @apply px-5 py-2 my-5;
    }
    &.medium {
      @apply px-7 py-3 my-7 text-lg;
    }
    &.big {
      @apply px-10 py-4 my-10 text-xl;
    }
  }

  .components-block {
    @apply pb-16 bg-top bg-no-repeat bg-fixed bg-cover;
    .separator {
      width: 100%;
      height: 66px;
      background-image: url(separator.png);
      background-repeat: no-repeat;
      background-position: bottom center;
      margin-bottom: -60px;
      opacity: .8;
    }
    &:first-of-type {
      padding-top: 160px;
      .separator {
        display: none;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }

    .media img {
      @apply inline-block;
    }

    .markdown {
      h1 {
        @apply text-4xl my-8 tracking-widest uppercase;
      }
      h2 {
        @apply text-3xl my-4;
      }
      h3 {
        @apply text-2xl my-4;
      }
      p {
        @apply my-4;
      }
      ul {
        @apply list-disc list-inside my-4;
      }
    }
  }

  .container {
    @apply relative w-full p-5 md:items-center md:py-0 mx-2 lg:mx-auto;
  }
}

@tailwind components;
@tailwind utilities;
